body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(213, 213, 223);
}

header{
    text-align: center;
    border: solid grey 1px;
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    margin: 0px 30px;

}

#section_Black{
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 46, 46);
    border-radius: 30px;
    padding: 20px;
    margin: 10px 30px;
}

#section_Grey{
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 20px;
    border: solid grey 20px;
    border-radius: 30px;
    margin-bottom: 10px;
}

legend{
    font-size: 20px;
}

.section_Box{
    display:flex;
    justify-content: space-around;
    border: solid grey 1px;
    border-radius: 30px;
    margin: 10px;
}

.section_SelectBox{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 216);
    padding: 10px 0px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 20px;
    margin: 10px;
}

#section_BoxPadding{
    margin-bottom: 60px;
}

#select_ToCurrency,#select_BaseCurrency,#input_Amount{
    text-align: center;
    padding: 10px 0px;
    border-radius: 25px;
    width:100%;
}

button {
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(64, 142, 187);
    border-radius: 30px;
    padding: 20px 50px;
    margin: 20px 0px;
}

#section_BlueGray{
    display: flex;
    justify-content: center;
    background-color: rgb(161, 188, 192);
    padding: 50px 0px;
    padding-bottom: 150px;
    border-radius: 30px;
}

footer{
    text-align: center;
    border: solid grey 1px;
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    margin: 0px 30px;
}