table{
    background-color: white;
    border: dotted red 1px;
    border-spacing: 7px;
}

th{
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 7px;
}
td{
    border: solid grey 1px;
    padding: 7px;
}